@font-face {
    font-family: 'Pinkfong Baby Shark';
    src: url('./fonts/OTPinkfongBabySharkB.woff2') format('woff2'),
        url('./fonts/OTPinkfongBabySharkB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pinkfong Baby Shark';
    src: url('./fonts/OTPinkfongBabySharkL.woff2') format('woff2'),
        url('./fonts/OTPinkfongBabySharkL.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pinkfong Baby Shark';
    src: url('./fonts/OTPinkfongBabySharkR.woff2') format('woff2'),
        url('./fonts/OTPinkfongBabySharkR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sweet';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Sweet';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Sweet';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  ont-family: 'CookieRun';
  color: $c-main-text;
  background: #F1F2ED;
}

a{
  text-decoration: none;
  color: $c-main-text;
  -webkit-text-fill-color: inherit;
}

a:visited,
a:hover,
a:active {
  color: inherit;
}

ul, li{
  list-style: none;
  color: $c-main-text;
}

.inner{
  @include inner;
}

.section-title{
  @include section-title;
  color: $c-main;
}

p{
  font-family: $ff-sweet;
  font-weight: 400;
}

button{
  background: transparent;
  border: none;
  cursor: pointer;
}

.more-btn{
  @include more-btn;
}

section {
  scroll-margin-top: 15vh;
  @media (max-width: $mobile) {
     scroll-margin-top: 10vh
  }

}







