/* text-color */
$c-main-text: #3b3b3b;
$c-white: #fff;
$c-main: #1aaba2;
$c-sub: #ebf4d4;

/* font */
$ff-shak: 'Pinkfong Baby Shark';
$ff-sweet: 'Sweet';

$inner: 80%;

$mobile: 767px;

$tablet: 1024px;

